img {
    max-width: 20%;
    height: "30";
    width: "30";
}

#main-logo {
    padding: 8px;
    float:left;
}

#login-button :nth-of-type(2){
    float: right;
}

#nav-container {
    display: flex;
    justify-content: flex-end;
}

